.services-page .hero {
    background-image: url(/ASSETS/IMAGES/image-7.jpg);
    background-position: top;
    padding: 100px 20px;
    height: 77vh;

    position: relative;
}

.services-page h1 {
    position: absolute;
    bottom: 20px;
    left: 170px;
}

.industrial-img,
.residential-img,
.commercial-img,
.design-img {
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.industrial-img {
    background-image: url(/ASSETS/IMAGES/image-8.jpg);
}

.residential-img {
    background-image: url(/ASSETS/IMAGES/image-9.jpg);
    background-position: top;
}

.commercial-img {
    background-image: url(/ASSETS/IMAGES/image-10.jpg);
}

.design-img {
    background-image: url(/ASSETS/IMAGES/image-11.jpg);
}

.services-frame {
    padding: 200px 7vw 200px 7vw;
}

.specialize {
    padding-right: 160px;
    margin-bottom: 180px;
}

.industrial,
.residential,
.commercial,
.design {
    display: flex;
}

.industrial,
.residential,
.commercial {
    margin-bottom: 100px;
}

.services-frame span {
    font-size: 72px;
    display: block;
    margin-bottom: 20px;
}

.industrial-content,
.residential-content,
.commercial-content,
.design-content {
    margin-left: 100px;
    padding-top: 20px;
}

.industrial h3,
.residential h3,
.commercial h3,
.design h3 {
    margin-bottom: 25px;
}

.call-to-action {
    background-image: url(/ASSETS/IMAGES/image-12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.call-to-action span {
    font-size: 72px;
    text-transform: capitalize;
    display: block;
    margin-bottom: 25px;
}

.call-to-action p {
    font-size: 24px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.call-to-action-content {
    padding: 200px 20px;
    text-align: center;
}

.call-to-action button:hover {
    background-color: rgb(81, 81, 81);
    color: #fff;
}

@media (max-width: 920px) {
    .services-page .hero {
        padding: 200px 50px 80px 50px;
        height: 55vh;
    }

    .services-page h1 {
        left: 80px;
    }

    .services-frame {
        padding: 70px 20px 70px 20px;
    }

    .industrial,
    .residential,
    .commercial,
    .design {
        flex-direction: column;
    }

    .industrial-content,
    .residential-content,
    .commercial-content,
    .design-content {
        margin-left: 0;
        padding-top: 0;
    }

    .specialize {
        padding-right: 0;
        margin-bottom: 60px;
    }

    .industrial-img,
    .residential-img,
    .commercial-img,
    .design-img {
        height: 630px;
    }

    .services-frame span {
        font-size: 44px;
        margin-bottom: 10px;
        margin-top: 35px;
    }
}